{% extends "base.html" %}

{% block content %}

{% load static %}


  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
     <a href="/">Home</a> / <span class="lime-text">{{ object.title }}</span>
    </div>
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">
        <!-- media_root/{{object.image}} -->
        <!--Grid column-->
        <div class="col-md-6 mb-4 border-custom">
          <img src="{{object.image.url}}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 border-custom">

          <!--Content-->
          <div class="p-4">

            <h4 class="orange-text">{{ object.title }}</h4>

            <p class="lead">
              {% if object.discount_price %}
              <span class="mr-1">
                <del class="red-text">${{ object.price }}</del>
              </span>
              <span>${{ object.discount_price }}</span>
              {% else %}
              <span>${{ object.price }}</span>
              {% endif %}
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{ object.description }}</p>
            <div class="mb-3">
              <a href="">
               Catalog: <span class="badge red mr-1">{{ object.get_category_display }}</span>
              </a>
            </div>


            {% comment %} <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> {% endcomment %}
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p btn-custom">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p btn-custom">
              Remove from cart
            </a>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>SALE FOR YOU</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="https://cdn3.yame.vn/pimg/ao-thun-tn-tc-van-hien-chi-bang-min2-0020009/b47ca88d-83da-cf01-0635-00179a4f447a.jpg?w=800" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://cdn3.yame.vn/cimg/qua-tang-mien-phi/33181116-e676-0100-78ff-0017d2c5ac31.jpg?w=800" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://cdn3.yame.vn/cimg/sale-so-mi-50/9f44f8b1-7919-0500-e2b6-0017deb04863.jpg?w=800" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>

{% endblock content %}
